<div data-tooltip-context>
    <div><strong>Male victims:</strong> <%- male_victims %></div> 
    <div><strong></strong>Female victims:</strong> <%- female_victims %></div>
    <div><strong></strong>Non-binary-victims:</strong> <%- unspecified_genre_victims %></div>
</div>